// 项目提供scss全局变量

// 定义项目的主题颜色
$baseColor: red;


// 左侧菜单宽度
$baseMenuWidth: 160px;
// 左侧菜单的背景颜色
$baseMenuBackground: #001529;
$baseMenuMinWidth: 50px;

// 顶部导航的高度
$baseTabbarHeight: 50px;

// 左侧菜单logo高度设置
$baseMenuLogoHeight: 50px;
// 左侧菜单logo右侧文字大小
$baseMenuLogoFontSize: 14px;